body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-icons button {
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.registration-form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.registration-form .terms {
    display: flex;
    align-items: center;
    gap: 10px;
}

.registration-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}
